<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>OMDbTest - Angular</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/app.css" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="dist/js/vendor.min.js"></script>
    <script type="text/javascript" src="dist/js/app.js"></script>
</head>
<body ng-controller="appController as ctrl">
    <div class="login-overlay" ng-show="ctrl.loginVisible"></div>
    <div class="container hidden" ng-class="{ hidden: ctrl.loginVisible }">
        <label class="logged-user">{{ctrl.user.name}} <i class="fa fa-sign-out" ng-click="ctrl.logout()"></i></label>
        <h1 class="title">
            <span>Los Criticones</span>
        </h1>
        <hr class="hr-gold gradient top-shadow" />
        <hr class="hr-gold" />
        <hr class="hr-gold gradient bottom-shadow" />
        <hr class="hr-crimson" />        
        <div class="row search">
            <input placeholder="Buscar..." type="text" ng-model="ctrl.searchText" ng-keyup="ctrl.searchKeyup($event)" class="form-control" />
            <span ng-click="ctrl.search()"><i class="fa fa-search"></i></span>
        </div>
        <div class="row" ng-show="ctrl.isLoadingTop">
            <img class="loader" src="img/loader.gif" alt="Cargando..." />
        </div>
        <div class="row results" ng-show="!ctrl.isLoadingTop && ctrl.hasResults">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click="ctrl.sort('imdbID')">
                            Id <span class="fa" ng-class="{ 'fa-sort-desc': ctrl.isSorted('imdbID') && ctrl.orderDesc, 'fa-sort-asc': ctrl.isSorted('imdbID') && !ctrl.orderDesc }"></span>
                        </th>
                        <th ng-click="ctrl.sort('Title')">
                            Título <span class="fa" ng-class="{ 'fa-sort-desc': ctrl.isSorted('Title') && ctrl.orderDesc, 'fa-sort-asc': ctrl.isSorted('Title') && !ctrl.orderDesc }">
                        </th>
                        <th ng-click="ctrl.sort('Year')">
                            Año <span class="fa" ng-class="{ 'fa-sort-desc': ctrl.isSorted('Year') && ctrl.orderDesc, 'fa-sort-asc': ctrl.isSorted('Year') && !ctrl.orderDesc }">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.results | orderBy: ctrl.orderBy : ctrl.orderDesc">
                        <td>
                            <a href="#" ng-click="ctrl.getById(item.imdbID)">{{item.imdbID}}</a>
                        </td>
                        <td>{{item.Title}}</td>
                        <td>{{item.Year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="spacer" ng-show="ctrl.hasResults"><div class="mask"></div></div>
        <div class="row" ng-show="ctrl.isLoadingBottom">
            <img class="loader" src="img/loader.gif" alt="Cargando..." />
        </div>
        <div class="row tab-control detail" ng-show="!ctrl.isLoadingBottom && ctrl.hasDetail">
            <tabset>
                <tab>
                    <tab-heading>
                        <i class="fa fa-film"></i> Ficha
                    </tab-heading>
                    <div class="detail-poster">
                        <a ng-if="ctrl.detailHasPoster" ng-href="{{ctrl.detail.ImdbUrl}}" target="_blank">
                            <img ng-src="{{ctrl.detail.Poster}}" title="{{crtl.detail.Title}}" />
                        </a>
                        <div class="empty" ng-if="!ctrl.detailHasPoster">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="detail-info">
                        <div class="row">
                            <label>Título:</label> {{ctrl.detail.Title}} ({{ctrl.detail.Year}})
                        </div>
                        <div class="row">
                            <label>Clasificación:</label> {{ctrl.detail.Rated}}
                        </div>
                        <div class="row">
                            <label>Duración:</label> {{ctrl.detail.Runtime}}
                        </div>
                        <div class="row">
                            <label>Género:</label> {{ctrl.detail.Genre}}
                        </div>
                        <div class="row">
                            <label>Director:</label> {{ctrl.detail.Director}}
                        </div>
                        <div class="row">
                            <label>Actores:</label> {{ctrl.detail.Actors}}
                        </div>
                        <div class="row">
                            <label>Sinopsis:</label> {{ctrl.detail.Plot}}
                        </div>
                        <div class="row">
                            <label>País:</label> {{ctrl.detail.Country}}
                        </div>
                        <div class="row">
                            <label>Premios:</label> {{ctrl.detail.Awards}}
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-star"></i> Críticas
                    </tab-heading>
                    <!-- NEW REVIEW -->
                    <div class="row new-review">
                        <div class="row">
                            <div class="col-md-2">Usuario:</div>
                            <div class="col-md-10">
                                <span class="username">{{ctrl.user.name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Puntuación:</div>
                            <div class="col-md-10">
                                <score ng-model="ctrl.newReview.score" name="newreview-score"></score>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Crítica:</div>
                            <div class="col-md-10">
                                <textarea ng-model="ctrl.newReview.userReview"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary pull-right" ng-click="ctrl.publishReview()">Publicar crítica</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row no-reviews" ng-show="ctrl.hasReviews">
                        ¡Todavía no hay críticas!
                    </div>
                    <!-- LIST OF EXISTING REVIEWS -->
                    <div ng-show="!ctrl.hasReviews">
                        <div class="row review" ng-repeat="review in ctrl.reviews">
                            <div class="score">
                                <score ng-model="review.score" ng-disabled="true" name="{{'review{0}-score'.format($index)}}"></score>
                            </div>
                            <div>
                                <p>
                                    <span class="username">{{review.username}}</span>&nbsp;({{review.created | date:'dd/MM/yyyy HH:mm'}})                                    
                                </p>
                                <p>{{review.userReview}}</p>
                            </div>
                            <hr />
                        </div>                        
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <script type="text/ng-template" id="loginModal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>{{!!ctrl.user.name ? '¡Bienvenida/o {0}!'.format(ctrl.user.name) : '¡Hola desconocida/o!'}}</span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="form" ng-show="!ctrl.isLoadingUser"> 
                <div class="form-group">
                    <label id="username">Usuario:</label>
                    <input id="username" class="form-control" ng-model="ctrl.user.username" ng-keyup="ctrl.loginKeyup($event)"></input>
                </div>
                <div class="form-group" ng-show="ctrl.showCreateUserButton">
                    <label for="name">Nombre:</label>
                    <input id="name" class="form-control" ng-model="ctrl.user.name"></input>
                </div>
            </div>                  
            <div class="form-loading" ng-show="ctrl.isLoadingUser">
                <img class="loader" src="img/loader-dark.gif" alt="Cargando..." />
            </div>
        </div>
        <div class="modal-footer" ng-show="ctrl.showLoginButton || ctrl.showCreateUserButton">
            <button type="button" class="btn btn-primary" ng-click="ctrl.getUser()" ng-show="ctrl.showLoginButton" ng-disabled="!ctrl.user.username">Entrar</button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.createUser()" ng-show="ctrl.showCreateUserButton">Soy nuevo</button>
        </div>
    </script>
    <script type="text/ng-template" id="loginModalWindow.html">
        <div class="modal login-modal animated in" id="Login" modal-animation-class="bounceIn" tabindex="-1" role="dialog" 
            ng-style="{'z-index': 1050 + index*10, display: 'block'}">
            <div class="modal-dialog">
                <div class="modal-content" modal-transclude></div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="logoutModal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>!Hasta pronto {{ctrl.user.name}}!</span>
            </h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="ctrl.reload()">Adiós</button>
        </div>
    </script>	
</body>
</html>