@import url(https://fonts.googleapis.com/css?family=Coustard);
@import url(https://fonts.googleapis.com/css?family=Norican);
@import "bower_components/fontawesome/less/variables.less"; 

.user-select(){
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	-o-user-select: none;
  	user-select: none;      
}

body {
	background: url("../../img/bg.png") repeat scroll 0 0;
}

.container {
	margin: 0 auto 40px auto;
	
	.logged-user{
		float: right;
		position: relative;
		top: 20px;
		right: 20px;
		font-family: 'Coustard';
		font-size: 18px;
		color: #fff;

		i {
			cursor: pointer;
		}
	}

	.hidden{
		display: none;
	}

	.row{
		margin-left: 0;
		margin-right: 0;
	}

	.left{
		float: left;
	}
	
	h1.title {
		background: #010000;
		background-image: url("../../img/bg-statler-waldorf.png");
		background-repeat: no-repeat;
		background-position: center bottom;
		box-shadow: 0 4px 10px #333;
		height: 250px;
		margin: 0 auto 0 auto;
		padding: 30px 0;
		font-family: 'Norican', serif;
		font-weight: bold;
		text-shadow: 5px 5px 1px #808080;
		font-size: 90px;
		text-align: center;
		color: #fff;
		z-index: 100;
		top: 0;	
	 	
		span {
			position: relative;
			top: 220px;
		}
	}
	
	.hr-gold {
		margin: 0;	
		background: darkgoldenrod;
		border: none;
		height: 10px;
		
		&.gradient {
			background: darkgoldenrod;
		    background: linear-gradient(to bottom, darkgoldenrod 0%, #f1e767 100%);
			height: 5px;
		}
		
		&.top-shadow {
			box-shadow: 0 -4px 10px #333;
		}
		
		&.bottom-shadow {
			box-shadow: 0 4px 10px #333;
		}
	}
	
	.hr-crimson {
		margin: 0 0 40px 0;
		box-shadow: 0 4px 10px #333;
		background: #721A04;
	    background: linear-gradient(to bottom, #721A04 0%, #CD1C04 100%);
		border: none;
		height: 50px;
	}

	.search {
		font-size: 18px;
		font-family: 'Coustard';
		
		input {
			padding: 4px 20px 4px 8px;
			font-size: 18px;
		}
		
		 span {
		  	position: relative;
		  	top: -30px;
		  	float: right;
		  	right: 12px;
		}
	}

	th {
		cursor: pointer;
	}
	
	.loader {
		position: relative;
		left: 50%;
		margin: 100px 0;
	}
	
	.spacer {
		width: 100%;
		margin: 30px 0 10px 0; 
		position: relative;
		
		.mask { 
			overflow: hidden; 
			height: 20px;
			
			&:after { 
				content:''; 
				display: block; 
				margin:-25px auto 0;
				width: 100%; 
				height: 25px;  
				border-radius: 125px / 12px;  
				box-shadow:0 0 8px black;
			} 
		}    
	}
	
	.results {
		border-radius: 4px;
		box-shadow: 2px 2px 5px #808080;
		margin-top: 10px;
		padding: 10px;
		background-color: white;
	}
}

.tab-control {
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;

	.nav-tabs li {
	 	a {
			border: 1px solid #ddd;
			border-radius: 4px 4px 0 0;
		}
		
		&.active{
			a {
				border-bottom-color: transparent;
			}
		}
	}

	.tab-content {
		padding: 10px;
	}
}
.empty{
	font-size: 80px;
	text-align: center;
	
	 i{
		margin-top: 65px;
	}	
}

.detail {
	.detail-poster, .detail-info {
		vertical-align: top;
		background-color: white;
		padding: 10px;
		display: table-cell;
		float: none;
	}
	
	.detail-poster {
		width: 200px;
		
		 img {
			 width: 200px;
		}
	}
	
	.detail-info {
		padding: 10px 30px;	
	}
}

.no-reviews{
	text-align: center;
	font-size: 18px;
}

.new-review, .review {
	.row{
		margin-bottom: 6px;
	}
	
	.username{
		font-weight: bold;
	}
	
	.score{
		margin-right: 20px;
		display: inline-block;
		vertical-align: top;
	}

	.score + div {
		display: inline-block;
		margin-bottom: 15px;
	}

	textarea{
		width: 400px;
		min-height: 100px;
	}

	hr {
		clear: both;
		margin: 0 0 15px 0;
	}

	p {
		margin: 4px 0;
	}	
}

.new-review {
	padding-top: 10px;
}

.review-score{ 		
	label{
		cursor: pointer;
		
		&:before {
		    font-family: 'FontAwesome';
			font-size: 20px;
			content: @fa-var-star-o;
		    display: inline-block;
		    margin-right: 5px;
		    bottom: 1px;
		}
				
		&.hovered{
			&:before{
				text-shadow: 1px 1px 2px #bbb;				
				content: @fa-var-star;
				color: gold;
			}	
		}
		
		&.active{
			&:before{
				content: @fa-var-star;
				color: gold;
			}
		}
	}

	&.disabled {
		label {
			cursor: default !important;
			&:hover:before{
				text-shadow: none !important;
				.user-select();
			}	
		}
	}
}

.login-modal{
	.modal-content{
		margin-top: 200px;
	}
	.modal-title{
		text-align: center;
		font-family: 'Coustard';		
		font-size: 30px;
	}
	.modal-footer{
		text-align: center;
	}
	.form-group{
		margin-bottom: 20px;
	}
	.form-loading{
		text-align: center;
		.loader{
			margin: 20px 0;
		}
	}
}

.login-overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1001;	
}

.modal-backdrop, login-overlay{
	background: url("../../img/bg.png") repeat scroll 0 0;
	opacity: 1 !important; 
}